.tools {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 1rem;
    margin: 0;
    width: clamp(300px, 50%, 600px);
    box-shadow: var(--cardShadow);
}

.tools button {
    flex: 1;
    border: none;
    background-color: var(--primary-color);
    border-radius: 4px;
    color: white;
    padding: 0.5rem 1rem;
    margin: .25rem 0;
    cursor: pointer;
    transition: all .3s;
}

button.nextButton.disabled {background-color: var(--mediumGray);}

.tools button:hover:not(.disabled) {
    background-color: var(--secondary-color);
    transform: scale(1.1);
}