@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(165, 104, 42) url("images/fundo-madeira.jpg") no-repeat center center / cover fixed;
    width: 100vw;
    height: 100vh;
}

div.iphone, iframe {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.iphone {
    width: 50%;
    max-width: 373.2px;
    min-width: 311px;
    aspect-ratio: 311/627;
    background: transparent url(images/frame-iphone.png) no-repeat center center / contain fixed;
}

iframe {
    border: none;
    width: 86%;
    height: calc(76% - 2px);
}

.button {
    position: absolute;
    bottom: 2.9%;
    left: 50%;
    transform: translateX(-50%);
    width: 15%;
    aspect-ratio: 1/1;
    border-radius: 50%;
}