@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 17%);
  --inverted-text-color: white;
  --highlight: hsl(212, 100%, 50%);
  --inverted-highlight: hsl(212, 100%, 70%);
  --card-background: white;

  --paragraph-font: normal .9rem / 1.7rem arial;
}

body {
  background-color: var(--main-background);
  color: var(--text-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 3px;

  background-color: var(--highlight);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav > a {
  color: var(--inverted-text-color);
  padding: 7.5px;
  border-radius: 50%;
}

nav a:hover {
  color: var(--text-color);
  background-color: var(--main-background);

  transition: .3s;
}

main {
    display: grid;
    grid-template-columns: auto 90% auto;
}

main h1 {
    color: var(--highlight);
    font-size: 1.8em;
    font-variant: small-caps;
    margin-bottom: 1rem;
}

main h1 span {
  font-size: .9em;
}

main p {
    font: var(--paragraph-font);
    text-align: justify;
}

section {
    grid-column: 2;
    background-color: var(--card-background);
    padding: 1.5rem;
    margin: 1rem 0;

    border-radius: 16px;
    box-shadow: 0px 1px 2px hsl(0, 0%, 60%), 0px 5px 10px hsl(0, 0%, 80%);
}

#about-me img {
    display: block;
    width: 50%;

    aspect-ratio: 1/1;
    object-fit: cover;
    margin: auto;
    margin-bottom: 1rem;

    border-radius: 50%;
    padding: .25rem;
    border: 5px solid var(--highlight);
}

#social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: .75rem;
}

#social-media a {
  text-decoration: none;
  font-size: 1.5em;
}

#social-media a:hover {
  transform: scale(1.3);
  transition: .4s;
}

.video-container {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
}

iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: .5rem;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: .75rem;
}

#skill-container .info {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

#skill-container .title {
  margin-bottom: .5rem;
}

#skill-container .score {
  color: var(--highlight);
}

#skill-container .bar {
  background-color: var(--main-background);
  height: 16px;
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 8px;
}

#skill-container .progress {
  background-color: var(--inverted-highlight);
  height: 100%;
  border-radius: 8px;
}

#formations {
  padding: .5rem 1.5rem;
  background-color: var(--main-background);
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 60%);
  border-left: 4px solid var(--inverted-highlight);
}

#formations:hover {
  border-left: 8px solid var(--inverted-highlight);
  transition: .5s;
  cursor: pointer;
}

#formations .period {
  font-size: .8em;
  margin-bottom: .2rem;
  
}

#formations .institution {
  text-align: left;
  font-size: 1.1em;
  color: black;
  font-weight: bold;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project-card {
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 12px;
  box-shadow: 0px 0px 9px hsl(0, 0%, 80%), 0px 0px 18px hsl(0, 0%, 90%);
  overflow: hidden;
  margin-bottom: 2rem;
}

.project-card:hover {
  transform: scale(1.01);
  transition: .3s;
  box-shadow: 0px 0px 12px hsl(0, 0%, 80%), 0px 0px 24px hsl(0, 0%, 90%);
}

.project-card .showcase {
  width: 100%;
}

.card-text {
  padding: .75rem;
}

.card-text h1 {
  color: var(--inverted-highlight);
}

.card-text p {
  font-size: .8em;
  margin-bottom: .75rem;
}

.card-text a {
  background-color: var(--highlight);
  color: white;
  font-weight: bold;
  border-radius: 15px;
  text-decoration: none;
  padding: .2rem .5rem .4rem;
  display: inline-block;
}









