@charset "UTF-8";

main {
    grid-template-columns: 40% 60% auto;
}

section#about-me {
    grid-column: 1;
    grid-row: 1 / -1;
}

#skill-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.cards-container {
    grid-template-columns: 1fr 1fr;
    column-gap: .5rem;
}