@charset "UTF-8";

 .cards-container {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

@media screen and (min-width: 920px) {
  main {
    grid-template-columns: auto 350px 1fr auto;
    column-gap: 1rem;
  }

  section#about-me {
    grid-column: 2;
    height: fit-content;
    position: sticky;
    top: 65px;
  }

  #presentation,
  #skills,
  #formacoes,
  #projects {
    grid-column: 3;
  }

  #skill-container {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

@media screen and (min-width: 1280px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  .project-card {
    display: flex;
    flex-direction: row-reverse;
  }

  .project-card .showcase {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 150px;
  }
}
