@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-background: hsl(0, 0%, 90%);
  --text-color: hsl(0, 0%, 17%);
  --inverted-text-color: white;
  --highlight: hsl(212, 100%, 50%);
  --inverted-highlight: hsl(212, 100%, 70%);
  --card-background: white;
  --shadow: 0px 1px 2px hsl(0, 0%, 60%), 0px 5px 10px hsl(0, 0%, 80%);

  --paragraph-font: normal 0.9rem / 1.7rem arial;
}

body {
  background-color: var(--main-background);
  color: var(--text-color);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  transition: all 0.5s;
}

body.escuro {
  --main-background: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 90%);
  --inverted-text-color: hsl(0, 0%, 20%);
  --highlight: hsl(14, 100%, 60%);
  --inverted-highlight: hsl(14, 100%, 40%);
  --card-background: #444444;
  --shadow: none;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;

  background-color: var(--highlight);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  display: flex;
  align-items: center;
  gap: 5px;
}

nav > a {
  color: var(--inverted-text-color);
  padding: 7.5px;
  border-radius: 50%;
  transition: 0.3s;
}

nav a:hover {
  color: var(--text-color);
  background-color: var(--main-background);
}

main {
  display: grid;
  grid-template-columns: auto 90% auto;
}

main h1 {
  color: var(--highlight);
  font-size: 1.8em;
  font-variant: small-caps;
  margin-bottom: 1rem;
}

main h1 span {
  font-size: 0.9em;
}

main p {
  font: var(--paragraph-font);
  text-align: justify;
  line-height: 2.1em;
}

section {
  grid-column: 2;
  background-color: var(--card-background);
  padding: 1.5rem;
  margin: 1rem 0;

  border-radius: 16px;
  box-shadow: var(--shadow);
}

#about-me img {
  display: block;
  width: 50%;

  aspect-ratio: 1/1;
  object-fit: cover;
  margin: auto;
  margin-bottom: 1rem;

  border-radius: 50%;
  padding: 0.25rem;
  border: 5px solid var(--highlight);
}

#social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 0.75rem;

  a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--highlight);
    transition: 0.4s;
  }

  a:hover {
    transform: scale(1.3);
  }
}

#presentation p {
  line-height: 2.1em;
  text-indent: 1.25em;
  margin-bottom: 2rem;
}

#skill-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.75rem;

  .info {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  .title {
    margin-bottom: 0.5rem;
  }

  .score {
    color: var(--highlight);
  }

  .bar {
    background-color: var(--main-background);
    height: 16px;
    border: 1px solid hsl(0, 0%, 70%);
    border-radius: 8px;
  }

  .progress {
    background-color: var(--inverted-highlight);
    height: 100%;
    border-radius: 8px;
  }
}

#formations {
  padding: 0.5rem 1.5rem;
  background-color: var(--main-background);
  border-radius: 8px;
  border: 1px solid hsl(0, 0%, 60%);
  border-left: 4px solid var(--inverted-highlight);
  transition: 0.3s;

  .period {
    font-size: 0.8em;
    margin-bottom: 0.2rem;
  }

  .institution {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.5em;
    margin: .5rem 0;
    color: var(--inverted-highlight);
    font-weight: bold;
  }
}

#formations:hover {
  transform: translateX(4px);
  cursor: pointer;
}

.cards-container {
  display: grid;
  grid-template-columns: 1fr;
}

.project-card {
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 12px;
  box-shadow: var(--shadow);
  overflow: hidden;
  margin-bottom: 2rem;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.01);
  box-shadow:
    0px 0px 12px hsl(0, 0%, 80%),
    0px 0px 24px hsl(0, 0%, 90%);
}

.project-card .showcase {
  width: 100%;
}

.card-text {
  padding: 0.75rem;

  h1 {
    color: var(--inverted-highlight);
  }

  p {
    font-size: 0.8em;
    margin-bottom: 0.75rem;
  }

  a {
    background-color: var(--highlight);
    color: white;
    font-weight: bold;
    border-radius: 15px;
    text-decoration: none;
    padding: 0.3rem 0.5rem 0.4rem;
    display: inline-block;
  }
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.8em;
}
