@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

:root {
  --fonte1: Verdana, Geneva, Tahoma, sans-serif;
  --fonte2: "Passion One", cursive;
  --fonte3: "Sriracha", cursive;
}

header {
  background-color: black;
  color: white;
  padding: 60px 0;
  text-align: center;
}

header h1 {
  font-family: var(--fonte2);
  font-size: 4em;
  margin-bottom: 5px;
  font-variant: small-caps;
}

header a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

header a:hover {
  text-decoration: underline;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  line-height: 2.5em;
}

main p {
  font-family: var(--fonte3);
}

section {
  padding: 12vh 0 12vh 30px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.8);
}

section.image {
  box-shadow: inset 2px 2px 12px rgba(0, 0, 0, 0.5);
}

#img1 {
  background: yellow url(./images/background001.jpg) center center / cover
    no-repeat fixed;
}

#img2 {
  background: yellow url(./images/background002.jpg) center center / cover
    no-repeat fixed;
}

p ~ p {
  margin-top: 30px;
}

main section.image > p {
  color: white;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 5px;
}

footer {
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
  font-size: 1.05em;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}
